@model APP.ViewModels.PurchaseVM.CreatePurchaseVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ">
    <div class="col-12 text-center p-2">
        <h4>Purchase Product</h4>
    </div>
</div>
<hr />



<div class="row">
    <form class="col-md-12" asp-action="Create" asp-controller="Purchase" method="post">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="form-group row">
                    <label asp-for="PurchaseDate" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <input asp-for="PurchaseDate" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SupplierId" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select asp-for="SupplierId" class=" form-control" asp-items="@ViewBag.SupplierId">
                                <option selected disabled>Choose...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-info btn-sm" type="button">+ Add</button>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PurchaseCode" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <input asp-for="PurchaseCode" readonly disabled class="form-control" placeholder="Auto Generated Code">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductId" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select asp-for="ProductId" class="form-control" asp-items="@ViewBag.productList">
                                <option selected disabled>Input Product</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-info btn-sm" type="button">+ Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <input asp-for="Price" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PurchaseQty" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <input asp-for="PurchaseQty" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PurchaseDetailRemark" class="col-sm-2 col-form-label text-md-right"></label>
                    <div class="col-sm-10">
                        <input asp-for="PurchaseDetailRemark" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <img src="~/images/Product/noimage.png" class="img-fluid" alt="Alternate Text" />
                </div>
                <div class="row pt-md-4">
                        <button type="submit" class="btn-info btn">Add Product</button>
                        <button class="btn btn-warning">Cancel</button>
                </div>
            </div>

        </div>
    </form>
</div>
<hr />




<div class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Product Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Discount</td>
                <td>Total</td>
                <td colspan="2">Remark</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#</td>
                <td>Product Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Discount</td>
                <td>Total</td>
                <td colspan="2">Remark</td>
                <td>
                    <button class="btn btn-sm btn-info">Edit</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
        <tr>
            <td colspan="5" class="text-md-right">Total</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
    </table>
</div>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PurchaseCode" class="control-label"></label>
                <input asp-for="PurchaseCode" class="form-control" />
                <span asp-validation-for="PurchaseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseAmount" class="control-label"></label>
                <input asp-for="PurchaseAmount" class="form-control" />
                <span asp-validation-for="PurchaseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
