@section Styles{ 
    <style>
        table tr{
            border-bottom:1px solid #dddddd;
        }
        .table td, .table th{
            border-top:0px !important
        }
        body{
            font-size:11px;
        }
    </style>
}
<div class="row">
    <div class="col-md-9">
        
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-11 card text-dark" style="background-color: #FFD966">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="font-weight-bold text-center" colspan="2">TODAY SALES SUMMARY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="">Total Invoice</td>
                            <td class="text-right">6</td>
                        </tr>
                        <tr>
                            <td class="">Sales Total</td>
                            <td class="text-right">15769</td>
                        </tr>
                        <tr>
                            <td class="">Retrun Total</td>
                            <td class="text-right">345</td>
                        </tr>
                        <tr>
                            <td class="">Discount</td>
                            <td class="text-right">45</td>
                        </tr>
                        <tr>
                            <td class="">VAT Amount</td>
                            <td class="text-right">0</td>
                        </tr>
                        <tr>
                            <td class="">Shipping Amount</td>
                            <td class="text-right">0</td>
                        </tr>
                        <tr  class="font-weight-bold">
                            <td class="">GRAND TOTAL</td>
                            <td class="text-right">16165</td>
                        </tr>
                        <tr class="font-weight-bold">
                            <td class="">Payment (Received)</td>
                            <td class="text-right">14205</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-11 card text-dark">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center font-weight-bold">CASH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Day Opening</td>
                            <td class="text-right">40715</td>
                        </tr>
                        <tr>
                            <td>Cash Received</td>
                            <td class="text-right">14705</td>
                        </tr>                        
                        <tr>
                            <td>Cash Payment</td>
                            <td class="text-right">12000</td>
                        </tr>                                                
                        <tr class="font-weight-bold">
                            <td>Cash</td>
                            <td class="text-right">43420</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-11 card text-dark">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center font-weight-bold">NET BALANCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Debit Amount</td>
                            <td class="text-right">1017</td>
                        </tr>
                        <tr>
                            <td>Credit Amount</td>
                            <td class="text-right">108</td>
                        </tr>                                               
                        <tr class="font-weight-bold">
                            <td>Outstanding</td>
                            <td class="text-right">909</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>