@model APP.ViewModels.LoginVM

@{ 
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<form asp-action="Login" asp-controller="Account" method="post" class="login100-form validate-form">

    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Log in
    </span>
    <div asp-validation-summary="All" class="text-left text-danger"></div>

    <div class="wrap-input100 validate-input" data-validate="Enter username">
        <input asp-for="Email" class="input100" placeholder="Email">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
        <span asp-validation-for="Email" class="text-danger text-left"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" asp-for="Password" placeholder="Password">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
        <span asp-validation-for="Password" class="text-danger text-left"></span>
    </div>

    <div class="contact100-form-checkbox">
        <input asp-for="RememberMe" class="input-checkbox100" id="ckb1" type="checkbox" >
        <label class="label-checkbox100" for="ckb1">
            Remember me
        </label>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Login
        </button>
    </div>

    <div class="text-center pt-1">
        <a class="txt1" href="#">
            Forgot Password?
        </a>
    </div>
    <div class="text-center">
        <a asp-action="Register" asp-controller="Account">Register</a>
    </div>
</form>