@model APP.VIewModels.LoginVM

    <div class="content2 mb-5">
        <div class="grids-heading gallery-heading signup-heading">
            <h2>Login</h2>
        </div>
        <form asp-action="Login" asp-controller="Accounts" method="post">
            <div asp-validation-summary="All" class="text-left text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email Address">
                <span asp-validation-for="Email" class="text-danger text-left"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger text-left"></span>
            </div>
            <input type="submit" class="register" value="Login">
        </form>
        <div class="signin-text">
            <div class="text-left">
                <p><a href="#"> Forgot Password? </a></p>
            </div>
            <div class="text-right">
                <p><a asp-controller="Accounts" asp-action="Register"> Create New Account</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <h5>- OR -</h5>
        <div class="footer-icons">
            <ul>
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="twitter facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter chrome"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="twitter dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <a asp-action="Index" asp-controller="Home">Back To Home</a>
    </div>
    <br /><br />